body:has(noscript){
  place-content: center;
  display: grid;
}

noscript{
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 10px;
}

noscript > .logo{
    background-color: #f7e01d;
    font-weight: bolder;
    border-radius: 5px;
    place-content: end;
    aspect-ratio: 1/1;
    max-width: 75px;
    font-size: 120%;
    color: black;
    display: grid;
    width: 100%;
    padding: 2%;
}