:root{
  background: linear-gradient(to right bottom, rgb(16, 24, 40) 0%, rgb(30, 41, 57) 50%, rgb(16, 24, 40) 100%);
  color: rgba(255, 255, 255, 0.87);
  color-scheme: dark;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

*{
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  place-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}