@mixin UI_Card($background-opacity: 100%){
    background-color: color-mix(in hsl shorter hue, rgba(50, 77, 118, 0.404) #{$background-opacity}, transparent);
    border: 1px solid var(--border-colour);
    backdrop-filter: blur(8px);
    border-radius: 10px;
}